@import '../../styles/global.scss';

.mobile-menu {
  position: fixed;
  top: 78px;
  left: 0;
  z-index: $z-index;
  width: 100%;
  height: 100%;
  background-color: $c-cod-gray;
  opacity: 0;
  transform: translatex(100%);
  transition: transform 0.25s, opacity 0.25s;

  &--active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }
}
