@import "../../styles/global.scss";

.form {
  @include display-column;
  @include display-center;

  padding: $gap-regular;
  background-color: $c-black;

  &__title {
    text-align: center;
    font-size: 2rem;
  }

  &__container {
    position: relative;
    display: grid;
    width: 90%;
    transition: transform 0.5s, opacity 0.3s, max-height 2s;

    @media only screen and (min-width: $breakpoints-md) {
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-regular;
      max-width: 900px;
    }

    &--hide {
      transform: scale(0);
      max-height: 0;
      opacity: 0;
    }
  }

  &__label {
    font-size: 0;
    color: transparent;
  }

  &__input {
    height: 78px;

    input,
    select {
      width: 100%;
      padding: $gap-xsmall;
      margin-top: $gap-small;
      background: transparent;
      border: none;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      font-size: 1.5rem;
      height: 40px;
      border-bottom: $border-white;
      color: $c-white;
      box-sizing: border-box;

      @media only screen and (min-width: $breakpoints-xxl) {
        font-size: 1.8rem;
      }

      @media only screen and (min-width: $breakpoints-xxl) {
        padding: 8px $gap-xsmall;
      }

      &::-webkit-input-placeholder {
        @include placeholder;
      }

      &:-moz-placeholder {
        @include placeholder;
      }

      &::-moz-placeholder {
        @include placeholder;
      }

      &:-ms-input-placeholder {
        @include placeholder;
      }

      &::-ms-input-placeholder {
        @include placeholder;
      }

      &::placeholder {
        @include placeholder;
      }
    }

    input[type="date"] {
      -webkit-appearance: none;
      border-radius: none;

      &::-webkit-datetime-edit-fields-wrapper {
        color: $c-white;
      }

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        margin-right: 2px;
        opacity: 1;
        color: $c-white;
        filter: invert(1);
      }

      &::-webkit-calendar-picker-indicator:hover {
        opacity: 1;
      }
    }

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      width: 3rem;
      line-height: 3rem;
      font-size: 1.4rem;
    }

    option {
      color: $c-black;

      &:first-child {
        display: none;
      }
    }
  }

  &__validation {
    color: $c-red;
    font-size: 1.2rem;
    margin: $gap-xxsmall 0 $gap-regular;

    @media only screen and (min-width: $breakpoints-xxl) {
      font-size: 1.4rem;
    }
  }

  &__button {
    width: 100%;
    margin: $gap-large auto;

    @media only screen and (min-width: $breakpoints-md) {
      grid-column: 2;
      grid-row: 4;
    }
  }

  &__success {
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.7s;

    &--active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
