@import "../../styles/global.scss";

.gallery {
  padding: 0;

  &__container {
    @include display-column;

    @media only screen and (min-width: $breakpoints-sm) {
      @include display-row;

      flex-wrap: wrap;
    }
  }
  &__image {
    @media only screen and (min-width: $breakpoints-sm) {
      width: 50%;
    }
    @media only screen and (min-width: $breakpoints-lg) {
      width: 25%;
    }
  }
}
