@import "../../styles/global.scss";

.opinions {
  @include display-column;

  margin: 0 auto;

  @media only screen and (min-width: $breakpoints-md) {
    @include display-row;

    align-items: flex-end;
    margin: $gap-large auto 0;
  }
}
.opinion {
  padding: $gap-regular;
  background-color: $c-twine;
  font-size: 1.6rem;

  @media only screen and (min-width: $breakpoints-md) {
    width: 20%;
    height: fit-content;
  }

  &:nth-child(even) {
    filter: brightness(90%);
  }

  &__customer {
    margin: $gap-regular 0 0;
    font-size: 1.4rem;

    @media only screen and (min-width: $breakpoints-xxl) {
      font-size: 1.8rem;
    }
  }

  &__city {
    margin: $gap-xsmall 0;
    font-size: 1.2rem;
    opacity: 0.6;

    @media only screen and (min-width: $breakpoints-xxl) {
      font-size: 1.6rem;
    }
  }
}
